*{
		margin: 0;
		padding: 0;
		font-family: 'Merriweather', serif;
		box-sizing: border-box;
		line-height: 1.5;
}
html{
	background-image: url(background.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav image{
	width: 100px;
	height: 100px;
	
}
.nav-links{
	flex: 1;
	text-align: right;	
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: #1434A4;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #1434A4;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}

nav .fas{
	display: none;
}
nav .fas{
	display: none;
}

body{
	width: 100%;
	min-height: 100%;
	margin-bottom: 30px;
}
.about{
	width: 100%;
}
.about h1{
	text-align: center;
	font-size: 40px;
	color:#1434A4;
	text-shadow: 2px 2px rgb(179, 185, 211);
}
.about h1::after{
	height: 5px;
	width: 200px;
	border-radius: 10px;
	display: block;
	margin: auto;
}
.grid-parent{
	display: grid;
	grid-template-columns: 6fr 4fr;
	padding: 20px;
}
.main-content{
	text-align: center;
	padding: 40px;
}
.image-section{
	padding-right: 10%;
}
.image-section img{
	width: 100%;
	height: 100%;
	padding:0px 25px 30px;
}

.main-content h3{
	color: #000000;
	font-size: 20px;
	margin-top: 2px;
	margin-bottom: 20px;
	word-spacing: 1px;
	margin-right: 10%;
	margin-left: 10%;
}

.content .btn a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #000000;
	padding: 12px 34px;
	font-size: 15px;
	background: #E85A4F;
	position: relative;
	cursor: pointer;
	font-weight: bold;
}

.main-content .btn a:hover{
	border: none;
	color:#0F52BA;
	transform: scale(1.05);
	background-color: transparent;
	transition: 1s;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}
.main-content .btn:hover{
	border: none;
}

#btnScrollToTop{
	position: fixed;
	right: 10px;
	bottom: 10px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: #1434A4;
	color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	border: none;
	cursor: pointer;
}
#btnScrollToTop:hover{
	transform: scale(1.1);
}

@media screen and (max-width: 768px){
	html, body {
		overflow-x: hidden;
	}
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		position: absolute;
		background: #EFE3D2;
		height: 100vh;
		width: 190px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	
	nav .fas{
		display: block;
		color: #000000;
		margin: 10px;
		font-size: 23px;
		cursor: pointer;
	}
	
	.nav-links ul{
		padding: 30px;
	}
	.about {
		width: 100%;
	}
	.about h1{
		font-size: 35px;
	}
	.main-content{
		padding-top: 10px;
	}
	.main-content h3{
		font-size: 15px;
	}
	.grid-parent{
		grid-template-columns: 1fr;
	}
	.btn{
		margin-top: 30px;
		margin-bottom: 10px;
		text-align: center;
	}
	.image-section{
		padding-right: 0px;
	}
}

@media (min-width: 769px) and (max-width: 1024px){
	.nav-links{
		flex: 1;
		text-align: right;	
	}
	.grid-parent{
		grid-template-columns: 1fr;
	}
	.image-section{
		padding-right: 0px;
	}
}




