*{
		margin: 0;
		padding: 0;
		font-family: 'Merriweather', serif;
		box-sizing: border-box;
		line-height: 1.5;
		text-decoration: none;
}
html{
	min-height: 100%;
	background-image: url(background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

/**nav styles**/
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
nav{
    width: 100%;
    padding: 15px 0;
    z-index: 300;
}

nav .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list li{
    list-style-type: none;
    display: inline-block;
}   

nav ul li a{
	color:#353B20;
	font-size: 18px;
	font-weight: 600;
    margin-left: 25px;
}
nav ul li a:hover{
    color: #e62b2b;
    transform: scale(1.1);
    transition: all 500ms ease-in-out;
}
.hamburger-btn{
    color: #000;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.logo{
	visibility: hidden;
}

/*about me section*/

.about h1{
	text-align: center;
	font-size: 40px;
	color:#e62b2b;
	text-shadow: 2px 2px 2px rgba(206,206,206,0.9);
	margin-top: 15px;
}

.grid-parent{
	display: grid;
	grid-template-columns: 3fr 2fr;
	padding: 25px;
}
.main-content{
	text-align: center;
	padding: 10px;
	margin-top: 20px;
}

.image-section img{
	max-width: 100%;
	height: 70%;
	box-shadow: 0 0 20px 0px rgba(190, 42, 42, 0.6);
	border-radius: 50%;
}

.main-content h3{
	color: #353B20;
	font-size: 20px;
	margin-top: 2px;
	word-spacing: 1px;
	margin-right: 5%;
	margin-left: 5%;
	padding-bottom: 20px;
}

.content .btn a{
	display: inline-block;
	color: #353B20;
	border-radius: 15px;
	padding: 15px 30px;
	font-size: 16px;
	background: transparent;
	border: 3px solid #e62b2b;
	position: relative;
	cursor: pointer;
	font-weight: bold;
}

.main-content .btn a:hover{
	color:#fff;
	transform: scale(1.05);
	background-color: #e62b2b;
	transition: 1s;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}
.logo{
	visibility: hidden;
}

@media screen and (max-width: 768px){
	.max-width{
        padding: 0 50px;
    }
    .hamburger-btn{
        display: block;
        z-index: 1;
    }
    nav .nav-list.active{
        left: 0;
		z-index: 1;
    }
    nav .nav-list{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
		background: #E4E8D6;
    }
    nav .nav-list li{
        display: block;
    }
    nav .nav-list li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
	.about {
		width: 100%;
	}
	.about h1{
		font-size: 35px;
	}
	.main-content h3{
		font-size: 16px;
	}
	.main-content{
		margin-top: 0;
	}
	.grid-parent{
		grid-template-columns: 1fr;
	}
	.btn{
		margin-top: 30px;
		margin-bottom: 20px;
		text-align: center;
	}
	.image-section img{
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
}

@media (min-width: 769px) and (max-width: 1024px){
	.grid-parent{
		grid-template-columns: 1fr;
	}
	.image-section img{
		width: 100%;
		height: 100%;
	}
	.logo{
		display: none;
	}
	.nav-list li{
		display: inline-block;
		padding-left: 20px;
	}
}

	


