*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    line-height: 1.5;
	box-sizing: border-box;
}
body{
	background-image: url(background.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
/**nav styles**/
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
    overflow-x: hidden;
}
nav{
    width: 100%;
    padding: 15px 0;
    z-index: 300;
}

nav .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list li{
    list-style-type: none;
    display: inline-block;
}   

nav ul li a{
	color:#353B20;
	font-size: 18px;
	font-weight: 600;
    margin-left: 25px;
	text-decoration: none;
}
nav ul li a:hover{
    color: #e62b2b;
    transform: scale(1.1);
    transition: all 500ms ease-in-out;
}
.hamburger-btn{
    color: #000;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.logo{
	visibility: hidden;
}
/*main content*/
h1{
    color:#e62b2b;
	text-shadow: 2px 2px 2px rgba(206,206,206,0.9);
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
	padding-bottom: 40px;
}
p{
	color: #353B20;
    text-align: center;
	font-size: 20px;
	font-weight: 800;
    word-spacing: 1px;
    margin: 5px;
	padding-left: 15%;
	padding-right: 15%;
}
.video-wrapper{
    width: 100%; max-width: 800px;
    margin: 3em auto;
}
.video-container{
    width: 100%; max-width: 100%; height: 0;
    padding-bottom: 56.25%;
    position: relative;
}
.video-container iframe{
    width: 100%; max-width: 100%; height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    color: #353B20;
	font-weight: 600;
}

/*scroll to top button*/
#btnScrollToTop{
	position: fixed;
	right: 10px;
	bottom: 10px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: #e62b2b;
	color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	border: none;
	cursor: pointer;
}
#btnScrollToTop:hover{
	transform: scale(1.1);
}

@media screen and (max-width: 768px){
	.max-width{
		padding: 0 50px;
	}
	.hamburger-btn{
		display: block;
		z-index: 999;
	}
	nav .nav-list.active{
		left: 0;
		z-index: 1;
	}
	nav .nav-list{
		position: fixed;
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		text-align: center;
		padding-top: 80px;
		transition: all 0.3s ease;
		background: #E4E8D6;
	}
	nav .nav-list li{
		display: block;
	}
	nav .nav-list li a{
		display: inline-block;
		margin: 20px 0;
		font-size: 25px;
	}
	p{
		padding-left: 5%;
		padding-right: 5%;
		font-size: 16px;
	}
	.footer{
        width: 100%;
        text-align: center;
        padding: 30px 0;
    }
    
    .footer p{
        padding-top: 30px;
        text-align: center;
        color: #353B20;
        font-weight: 600;
    }

}

